<h1><%=h self.current_user.login %>さんのホーム</h1>
<%= link_to 'アカウント情報の変更', edit_user_path(self.current_user) %>
<div id="events">
  <h2>参加イベント</h2>
  <ul>
    <% for event in self.current_user.events.sort{ |a,b| a.deadline <=> b.deadline }.reverse %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>
  <br />
  <h2>主催イベント</h2>
  <ul>
    <% for event in self.current_user.owned_events.sort{ |a,b| a.deadline <=> b.deadline }.reverse %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>
  <br />
  <%= link_to '新しいイベントを作成する', new_event_path %>
</div>
