<div id="event">
  <h1>イベント登録</h1>

  <%= error_messages_for :event %>

  <% form_for(@event) do |f| %>
  <p>
    <b>イベント名</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>イベント詳細（URL）</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>定員</b><br />
    <%= f.text_field :capacity %>
  </p>

  <p>
    <b>募集期限</b><br />
    <%= f.datetime_select :deadline, {:use_month_numbers => true} %>
  </p>

  <p>
    <b>公開日</b><br />
    <%= f.datetime_select :published_at, {:use_month_numbers => true} %>
  </p>

  <p>
    <%= f.submit "登録" %>
  </p>
  <% end %>

  <%= link_to '戻る', events_path %>
</div>

