<p>
  <b>イベント名:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @event.url %>
</p>

<p>
  <b>募集締切:</b>
  <%=h @event.deadline %>
</p>

<h2>参加者一覧(<%=h @event.members.size %>名)</h2>
<ol>
<% for user in @event.members %>
  <li><%=h user.login %></li>
<% end %>
</ol>

<% if logged_in? %>
  <% unless @event.members.include?(user) %>
    <%= link_to '参加登録する', participate_event_path, {:method => :post, :confirm => "参加登録してよろしいですか？"} %>
  <% else %>
    <%= link_to '参加をキャンセルする', cancel_event_path, {:method => :post, :confirm => "参加をキャンセルしてよろしいですか？"} %>
  <% end %>
<% else %>
  <p>イベントに参加するには <%= link_to "ログイン", login_path %> もしくは <%= link_to "サインアップ", signup_path %> を行って下さい</p>
<% end %>

<p><%= link_to 'このイベントを編集する', edit_event_path(@event) %> |
<%= link_to '戻る', events_path %></p>
