<div id="event">
  <div id="detail">
    <h2><%=h @event.title %></h2>
    <ul>
      <li><b>主催者 : </b> <%=h @event.owner.login %></li>
      <li><b>詳細 : </b> <%= link_to_event_detail(@event) %></li>
      <li><b>定員 : </b> <%=h format_numeric(@event.capacity) %></li>
      <% if @event.owner == self.current_user %>
      <li><b>ポジションペーパー管理 : </b> <%= link_to_position_paper_url(@event) %></li>
      <% end %>
      <li><b>募集期限 : </b> <%=h @event.deadline %></li>
    </ul>
    <% if @event.owner == self.current_user %>
      <p><%= link_to 'このイベントを編集する', edit_event_path(@event) %></p>
    <% end %>
    <% if logged_in? %>
      <% unless @event.members.include?(self.current_user) %>
        <% if @event.state == :open %>
          <%= link_to '参加登録する', participate_event_path, {:method => :post, :confirm => "参加登録してよろしいですか？"} %>
        <% elsif @event.state == :prep %>
          <p>本イベントはまだ募集を開始していません<p>
        <% else %>
          <p>本イベントは募集を締切りました<p>
        <% end %>
      <% else %>
        <%= link_to '参加をキャンセルする', cancel_event_path, {:method => :post, :confirm => "参加をキャンセルしてよろしいですか？"} %>
      <% end %>
    <% else %>
      <p>イベントに参加するには <%= link_to "ユーザ登録", signup_path %> が必要です(アカウントをお持ちの方はログインしてください)</p>
    <% end %>
  </div>
  <div id="members">
    <h2>参加者一覧(<%=h @event.members.size %>名)</h2>
    <ol>
      <% for user in @event.members %>
          <li><%= link_to_user_website(user) %></li>
      <% end %>
    </ol>
  </div>
</div>  

<p>

<!--
<p><%= link_to '戻る', events_path %></p>
-->
