<div id="header">
  <div id="logo"><h1><%= link_to 'Tsudoi', root_path %></h1></div>
  <p id="login_check">
    <% if logged_in? %>
      ようこそ <%= link_to current_user.login, home_path %> さん
      (<%= link_to "ログアウト", logout_path, {:method => :delete, :confirm => "本当にログアウトしますか？"} %>)
    <% else %>
      <!-- 
      <%= link_to "ログインする", login_path %> |
      <%= link_to "サインアップする", signup_path %>
      -->
      <% path = [controller.controller_name, controller.action_name].join("/") %>
      <% unless ["index/index", "session/new"].include? path %>
        <%= render :partial => "session/login" %>
      <% end %>
    <% end %>
  </p>
</div> <!-- header -->
