<div id="header">
  <div id="logo"><h1><%= link_to 'Tsudoi', root_path %></h1></div>
  <p id="login_check">
    <% if logged_in? %>
      ようこそ <%=h current_user.login %> さん
      (<%= link_to "ログアウト", logout_path, {:method => :delete, :confirm => "本当にログアウトしますか？"} %>)
    <% else %>
      <%= link_to "ログインする", login_path %> |
      <%= link_to "サインアップする", signup_path %>
    <% end %>
  </p>
</div> <!-- header -->
