<%= render :partial => "layouts/common_head" %>
<body>
  <%= render :partial => "layouts/header" %>
  <div id="main">
    <p id="notice"><%= flash[:notice] %></p>
    <%= yield  %>
  </div>
  <%= render :partial => "layouts/footer" %>
</body>
</html>
